<html>
<head>

</head>

<body>
    <h1>WINE CATEGORY PREDICTION</h1>
    <form action="/prediction" method = 'POST'> 
        <label>alcohol : </label><input type="text" name = 'alcohol'> <br> <br>
        <label>malic_acid : </label><input type="text" name = 'malic_acid'> 
        <label>ash : </label><input type="text" name = 'ash'> <br> <br>
        <label>alcalinity_of_ash : </label><input type="text" name = 'alcalinity_of_ash'> 
        <label>magnesium : </label><input type="text" name = 'magnesium'> <br> <br>
        <label>total_phenolsl : </label><input type="text" name = 'total_phenols'> 
        <label>flavanoids : </label><input type="text" name = 'flavanoids'> <br> <br>
        <label>nonflavanoid_phenols : </label><input type="text" name = 'nonflavanoid_phenols'> 
        <label>proanthocyanins : </label><input type="text" name = 'proanthocyanins'> <br> <br>
        <label>color_intensity : </label><input type="text" name = 'color_intensity'> 
        <label>hue : </label><input type="text" name = 'hue'> <br> <br>
        <label>diluted_wines : </label><input type="text" name = 'diluted_wines'> 
        <label>proline : </label><input type="text" name = 'proline'> <br> <br>
        <input type="submit" value="submit">
    </form>


</body>

</html>